/**
 * Editor styles for Interactive Tabs
 * These styles ensure the tabs look the same in the editor as on the frontend
 */

// Forward all styles from the main stylesheet
@forward "./style.scss";

@use "sass:map";
@use "../../settings" as *;

// Editor-specific overrides for vertical tabs
// The editor has an extra .wp-block-fs-blocks-tabs-editor wrapper that doesn't exist on frontend
.wp-block-fs-blocks-tabs-interactive.fs-tabs--vertical {
	.wp-block-fs-blocks-tabs-editor {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;

		.fs-tabs__tablist {
			flex-direction: column;
			flex-shrink: 0;
			min-width: 200px;
			border-bottom: none;
			border-right: 2px solid #ddd;
			margin-bottom: 0;
			padding-right: 0.5rem;
		}

		.fs-tabs__tab {
			text-align: left;
			border-bottom: none;
			border-right: 3px solid transparent;

			&.is-active {
				border-right-color: #0073aa;
				border-bottom-color: transparent;
			}
		}

		.fs-tabs__panels {
			flex: 1;
			min-width: 0;
		}
	}

	// Hide vertical tabs on mobile when responsive mode is also enabled
	&.fs-tabs--responsive .wp-block-fs-blocks-tabs-editor .fs-tabs__tablist {
		display: none; // Mobile: hidden

		@media (min-width: map.get($grid-breakpoints, md)) {
			display: flex; // Desktop: show vertical tabs
		}
	}

	// Keep flex layout on desktop even with responsive mode
	&.fs-tabs--responsive .wp-block-fs-blocks-tabs-editor {
		@media (min-width: map.get($grid-breakpoints, md)) {
			display: flex;
			flex-direction: row;
		}
	}
}
