/* Carousel block styles shared by editor and front end. */

.wp-block-fs-blocks-carousel-slide {

	&.are-vertically-aligned-center {
		margin-top: auto;
		margin-bottom: auto;
	}

	&.are-vertically-aligned-bottom {
		margin-top: auto;
		margin-bottom: 0;
	}

	&.swiper-slide-enforced-height {
		display: flex;
		flex-direction: column;

		.wp-block-cover {
			flex: 1 1 auto;
		}
	}
}

.wp-block-fs-blocks-carousel {

	.swiper-pagination {
		position: static;
		margin-top: 14px;

		&-bullet {
			background-color: #090909;
		}
	}

	.wp-block-fs-blocks-carousel-slide {
		box-sizing: border-box;

		.wp-block-image.aligncenter {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		color: #090909;
	}
}