.fs-showcase-gallery-editor {
	border: 1px dashed #d0d0d0;
	padding: 1rem;
	background: #fafafa;
	text-align: center;

	p {
		margin: 0;
	}

	.fs-showcase-gallery-editor__note {
		color: #666;
		font-size: 12px;
		margin-top: 0.5rem;
	}
}
