/**
 * Editor styles for Interactive Accordion
 * Ensures accordion looks the same in editor as on frontend
 */

// Forward all styles from the main stylesheet
@forward "./style.scss";

.fs-accordion {
	&__header {
		margin: 0;
	}
}
