// ==========================================
// File: editor.scss
// Styles for core/column enhancements (columnOptionsCore only)
// ==========================================

@use "sass:map";
@use "settings" as *;
@use "mixins" as *;
@use "assets/scss/admin-styles";
@use "assets/scss/cover-block";
@use "assets/scss/video-block";
@use "assets/scss/picture-block";
@use "assets/scss/carousel-block";

// Define column sizes
$column-sizes: (
	"": false,
	// Default .wp-block-column--column
	"auto": auto,
	"1": 1,
	"2": 2,
	"3": 3,
	"4": 4,
	"5": 5,
	"6": 6,
	"7": 7,
	"8": 8,
	"9": 9,
	"10": 10,
	"11": 11,
	"12": 12,
);

// Define breakpoints matching $grid-breakpoints
$column-breakpoints: (
	"": xs,
	// Base (no prefix)
	"-sm": sm,
	"-md": md,
	"-lg": lg,
	"-xl": xl,
	"-xxl": xxl,
);

// Styles for wp-block-column (columnOptionsCore classes)
.wp-block-column {
	@each $prefix, $breakpoint in $column-breakpoints {
		@if $prefix == "" {
			@each $size-name, $size-value in $column-sizes {
				// Add dash only if $size-name is not empty
				@if $size-name == "" {
					&.wp-block-column--column {
						@include make-col($size-value);
					}
				} @else {
					&.wp-block-column--column-#{$size-name} {
						@include make-col($size-value);
					}
				}
			}
		} @else {
			@include media-breakpoint-up(
				map.get($column-breakpoints, $prefix)
			) {
				@each $size-name, $size-value in $column-sizes {
					// Add dash only if $size-name is not empty
					@if $size-name == "" {
						&.wp-block-column--column#{$prefix} {
							@include make-col($size-value);
						}
					} @else {
						&.wp-block-column--column#{$prefix}-#{$size-name} {
							@include make-col($size-value);
						}
					}
				}
			}
		}
	}
}

.wp-block-columns {
	&--constrained {
		margin-left: auto;
		margin-right: auto;
		// max-width: 100%;
		width: 100%;

		@include media-breakpoint-up(sm) {
			max-width: 540px;
		}

		@include media-breakpoint-up(md) {
			max-width: 720px;
		}

		@include media-breakpoint-up(lg) {
			max-width: 960px;
		}

		@include media-breakpoint-up(xl) {
			max-width: 1140px;
		}

		@include media-breakpoint-up(xxl) {
			max-width: 1320px;
		}
	}
}

// Fix for Bootstrap style columns
.is-style-bootstrap {
	&.wp-block-columns {
		flex-wrap: wrap !important;
	}
}
